
.vs/NashGramBack/v17/.futdcache.v1
.vs/NashGramBack/v17/.suo
.vs/NashGramBack/DesignTimeBuild/.dtbcache.v2
.vs/NashGramBack/v17/.futdcache.v1
.vs/NashGramBack/v17/.suo
NashGramBack/bin/Debug/net6.0/NashGramBack.pdb
NashGramBack/bin/Debug/net6.0/NashGramBack.dll
NashGramBack/obj/Debug/net6.0/NashGramBack.csproj.CoreCompileInputs.cache
NashGramBack/obj/Debug/net6.0/NashGramBack.dll
NashGramBack/obj/Debug/net6.0/NashGramBack.pdb
NashGramBack/obj/Debug/net6.0/ref/NashGramBack.dll
NashGramBack/obj/Debug/net6.0/refint/NashGramBack.dll
